@import "tailwindcss";

@theme {
  --color-eyablue: #1e3a8a;
  --color-eyayellow: #facc15;
  --color-eyawhite: #f8fafc;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased overflow-x-hidden;
  }
}


.text-stroke-eyayellow {
  -webkit-text-stroke: 3px var(--color-eyayellow);
  color: transparent;
}

.timeline::before {

  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  width: 2px;
  @apply bg-eyablue/20;
}

@media (min-width: 768px) {
  .timeline::before {
    left: 50%;
    margin-left: -1px;
  }
}
